<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Логин</title>
    <style>
        H1 { text-align: center }
        P.blocktext {
            margin-left: auto;
            margin-right: auto;
            width: 13em
        }
    </style>
</head>

<body>
{% extends "base.html" %}
{% block title %}Log-in{% endblock %}
{% block content %}
    <h1 pos>Вход в эту невероятную систему</h1>
    <p class="blocktext">Введите логин и пароль</p>
    <form action="." method="post">
        {{ form.as_p }}
        {% csrf_token %}
        <p><input type="submit" value="Войти"></p>
        <button type="button"><a href="user/registration/">Регистрация</a></button>
    </form>
{% endblock %}
</body>
</html>