<style>

</style>
<h2><a href="/">Выход</a> / Создать тикет:</h2>
{% extends 'base.html' %}
{% block content %}
    <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Отправить</button>
    </form>
<h2>Использовать инструменты Шифрования для файлов</h2>
<br>
<a href="/encrypt/">Инструмент зашифровки - Метод Цезаря</a>
<br>
<a href="/decrypt/">Инструмент расшифровки - Метод Цезаря</a>
<br>
<a href="/encdes/">DES</a>
<h2>Стеганография - метод шифрования в конце строки изображения</h2>
<br>
<a href="/encode/">Кодирование текста</a>
<br>
<a href="/decode/">Декодирование</a>
{% endblock content %}
